<footer>
    <div class="body">
        <h3>JAWAHER <span>ACADEMY</span> </h3>
        <ul class="links">
              <li>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="/courses">Courses</a>
              </li>
              <li>
                <a routerLink="/contact">Contact</a>
              </li>
              <li>
                <a routerLink="/about">About Us</a>
              </li>
        </ul>
        <div class="socialmedia">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </div>


    <h6 class="copyright">Copyright © <span>{{ currentYear }}</span> All Rights Reserved by Yassin_Blk.</h6>
</footer>